.hiden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    /* Default values */
    /* font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: black;
      background-color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a:focus {
    color: #404bbf;
}

a:hover {
    color: #404bbf;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    padding: 0;
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
    section {
        padding-bottom: 120px;
    }
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.team-capture,
.portfolio-capture {
    margin-bottom: 72px;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}




.header-container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.header {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}



.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex-grow: 1;
}


/* logo */
.nav-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;

    display: inline-flex;
    align-items: center;
    margin-right: 76px;

    padding: 16px 0;
}

.span-logo {
    color: #2E2F42;
}

.header-nav-list {
    display: flex;
}

@media only screen and (max-width: 767.98px) {
    .header-nav-list {
        display: none;
    }
}

.header-nav-list-item {
    margin-right: 40px;
}

.header-nav-list-item:last-child {
    margin-right: 0px;
}



.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
}

.header-link.current {
    color: #404BBF;
}

.header-link.current::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    bottom: -1px;
}

.address {
    font-style: normal;
}

@media only screen and (max-width: 767.98px) {
    .address {
        display: none;
    }
}

.address-list {
    display: flex;
}

@media only screen and (min-width: 767.98px) and (max-width: 1157.98px) {
    .address-list {
        display: flex;
        flex-direction: column
    }
}

.address-list-item {
    margin-right: 40px;
}

@media only screen and (min-width: 767.98px) and (max-width: 1157.98px) {
    .address-list-item {
        margin-right: 0;
    }

    .nav-logo {
        margin-right: 120px;
    }

}

.address-list-item:last-child {
    margin-right: 0px;
}

.socials-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* herosection */

.herosection {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1440px;
    background-size: cover;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_mob@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}



@media only screen and (min-width: 768px) {
    .herosection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_tab@1x.jpg");
    }
}

@media only screen and (min-width: 1158px) {
    .herosection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_desk@1x.jpg");
    }
}

@media (min-resolution: 192dpi) {
    .herosection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_mob@2x.jpg");
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .herosection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_tab@2x.jpg");
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .herosection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office_desk@2x.jpg");
    }
}

.herosection-container {
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
}

.herosection-caption {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 72px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
    .herosection-caption {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        text-transform: none;
    }
}

@media only screen and (min-width: 1158px) {
    .herosection-caption {
        margin-bottom: 48px;
    }
}

.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

@media only screen and (min-width: 768px) {
    .herosection-container {
        padding: 112px 136px;
    }
}

@media only screen and (min-width: 1158px) {
    .herosection-container {
        padding: 188px 316px;
    }
}



/* Order Service */

.features {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-caption {
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .features-caption {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .features-caption {
        margin-bottom: 8px;

        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.features-list {}

@media only screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1158px) {
    .features-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

.features-list-icon {
    display: flex;
    height: 112px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}

@media only screen and (max-width: 1157.98px) {
    .features-list-icon {
        display: none;
    }
}

.features-icon {}

.features-list-item {
    width: 288px;
}

@media only screen and (max-width: 767.68px) {
    .features-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {
    .features-list-item {
        width: 356px;
    }
}

@media only screen and (min-width: 1158px) {
    .features-list-item {
        width: 264px;
    }
}

.features-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
    .features-desc {
        font-weight: 400;
    }
}

/* team */

.team {
    background: #F4F4FD;
}


.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

.team-list-item {
    width: 100%;
    max-width: 264px;
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}



.team-list-photo {}

.team-list-cont {
    padding: 32px 0px;
}

.team-list-caption {
    margin-bottom: 8px;
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-desc {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-iscons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 8px;
}

.team-icons-item {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;

    }

    .team-list-item {
        width: 100%;
        width: calc((100% - 24px *1) / 2);
        background-color: #FFF;
    }

}

@media only screen and (min-width: 1158px) {
    .team-list {
        gap: 24px;
        padding-left: 0;
        padding-right: 0;
    }

    .team-list-item {
        width: calc((100% - 24px *3) / 4);
    }
}

/* portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-content {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

@media only screen and (max-width: 767.68px) {
    .portfolio-content {
        text-align: center;
    }
}



.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-photo {}


.portfolio-overfl {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    padding: 40px 32px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-list-item:hover .overlay {
    transform: translatey(0);
}

.portfolio-list-capture {
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* footer */

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

@media only screen and (max-width: 767.98px) {
    .footer {
        text-align: center;
    }
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer-container {}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer-container {
        padding: 0 108px;
    }
}

.footer-info-left {}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-span-logo {
    color: #F4F4FD;
}

.footer-caption-first {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

@media only screen and (max-width: 767.98px) {
    .footer-caption-first {
        margin-bottom: 72px;
    }
}

@media only screen and (max-width: 767.98px) {
    .footer-info-center {
        margin-bottom: 72px;
    }
}

.footer-caption {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}



.footer-right {}



@media only screen and (min-width: 768px) {
    .footer-right {
        max-width: 453px;
        width: 100%;
    }
}

.footer-rgh-caption {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media only screen and (min-width: 768px) {
    .footer-form {
        flex-wrap: nowrap;
    }
}


.subscribe-form-field {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .subscribe-form-field {
        max-width: 264px;
    }
}

.footer-input {
    width: 100%;
    height: 40px;

    color: #FFF;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.48px;

    outline: transparent;
    background-color: transparent;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    opacity: 0.3;
}

@media only screen and (min-width: 1158px) {
    .footer-input {
        opacity: 1;
    }
}

.footer-input::placeholder {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.04em;
}

.footer-butn {
    min-width: 165px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer
}

.footer-butn:hover,
.footer-butn:focus {
    background: #404BBF;
}

.footer-rg-icon {
    margin-left: 16px;
    fill: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
}

@media only screen and (min-width: 768px) {
    .footer-info-left {
        max-width: 264px
    }
}

@media only screen and (min-width: 1158px) {
    .footer-info-left {
        margin-right: 120px;
    }

    .footer-info-center {
        margin-right: auto;
    }
}


/*=====================================*\
            # Modal window
\*=====================================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}


.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:active {
    background-color: #404BBF;
    border: none;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:active .modal-btn-icon {
    fill: #fff;

}

.modal-btn:focus,
.modal-btn:hover .modal-btn-icon {
    fill: #fff;

}

.modal-caption {
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form {}

.form-wraper {
    margin-bottom: 8px;
}

.form-wraper-textarea {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;

    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        background: #FCFCFC;
        padding: 72px 24px 24px 24px;
    }
}

.textarea:focus {
    border-color: #4D5AE5;
}

.form-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;

    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;
    display: block;
}

.form-btn:hover,
.form-btn:focus {
    background: #404BBF;
}


.form-input:focus+.form-icon {
    fill: rgba(77, 90, 229, 1);
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* castom checkbox */

.form-check {
    margin-bottom: 24px;
}

.form-agreement {
    display: flex;
    align-items: center;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox {}

.form-agreement-checkbox {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;



    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox:focus+.form-agreement>.form-agreement-checkbox {
    border: 1px solid #4D5AE5;
}



.checkbox:checked+.form-agreement>.form-agreement-checkbox {
    background-color: #404BBF;
    border: transparent;
    fill: #F4F4FD;
}

.form-agreement-icon {
    opacity: 0;
}

.checkbox:checked+.form-agreement>.form-agreement-checkbox>.form-agreement-icon {
    opacity: 1;
}

.form-agreement-link {
    color: #4d5ae5;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}


/* Mobile modal */

.head-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .head-menu-btn {
        display: none;
    }
}


.menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #fff;
    padding: 72px 16px 40px;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
    transform: translateX(0);
}

.menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #E7E9FC;
    border-radius: 50%;
}

.menu-btn:active {
    border: none;
    background-color: rgba(64, 75, 191, 1);
    fill: #fff;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-nav-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.menu-nav-link.current {
    color: #404BBF;
}

.menu-address {
    font-style: normal;
    margin-bottom: 48px;
}

.menu-address-list {}

.menu-address-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.menu-socials-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.menu-socials-link.accent {
    color: #4D5AE5;
}

.menu-team-iscons {
    display: flex;
    align-items: center;
    gap: 24px;
}